body {
  padding-top: 70px;
}

.navbar-custom {
	padding-top: 15px;
	background: #7b8cde;
	height: 80px;
}

.navbar-default .navbar-nav-custom > li > a {
    color: #ffffff;
    text-transform: uppercase;
}

.navbar-default .navbar-nav-custom > .open > a, .navbar-default .navbar-nav-custom > .open > a:focus, .navbar-default .navbar-nav-custom > .open > a:hover {
    background-color: #7b8cde;
    color: #ffffff;
}

.navbar-default .navbar-nav-custom > li > a:hover {
    color: #ffffff;
}

.search-home {
  box-shadow:0;
  width: 40px;
  margin-top: -24px;
  border: none;
  border-radius:0;
}

.search-home-btn{
  margin-top: -24px;
  background-color: #7b8cde;
  width: 60px;
  height: 80px;
  border: none;
  border-radius:0;
}

.search-home-btn > span{
  color:#ffffff;
}

.search-home-btn:hover{
  background-color: #7b8cde;
  border: none;
}

.container-main{
  padding-top: 30px;
}

.btn-success-custom{
  border-radius:0;
  width: 49%;
  text-transform: uppercase;
}

.btn-default-custom{
  border-radius:0;
  width: 49%;
  text-transform: uppercase;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.modal-content  {
    box-shadow:0;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important; 
}